@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Claim</h1> <br />
    <a asp-controller="Home" asp-action="ClaimId" class="btn btn-primary">ClaimId</a>
<textarea class="form-control" rows="2"></textarea> <br />
    <a asp-controller="Home" asp-action="FirstName" class="btn btn-secondary">FirstName</a>
<textarea class="form-control" rows="2"></textarea> <br />
    <a asp-controller="Home" asp-action="LastName" class="btn btn-secondary">LastName</a>
<textarea class="form-control" rows="2"></textarea> <br /> <br />
    <a asp-controller="Home" asp-action="Email" class="btn btn-secondary">Email</a>
<textarea class="form-control" rows="2"></textarea> <br /><br />
    <a asp-controller="Home" asp-action="Password" class="btn btn-secondary">Password</a>
<textarea class="form-control" rows="2"></textarea> <br /><br />
    <a asp-controller="Home" asp-action="Reject" class="btn btn-secondary">Phone Number</a>
<textarea class="form-control" rows="2"></textarea> <br /><br />
    <a asp-controller="Home" asp-action="LectureName" class="btn btn-secondary">LectureName</a>
<textarea class="form-control" rows="2"></textarea> <br /><br />
</div>
<div class="text-center">
    <a asp-controller="Home" asp-action="Lecture" class="btn btn-primary">Submit</a>
</div>

